<br>
<button (click) = "showFlights()">Show flights</button>
   <ul class="heroes">
     <h2 *ngIf = "flights != null">Showing departures in {{flights[0].departureAirportFsCode}} on {{flights[0].departureDate.dateLocal | date}}</h2>
     <li *ngFor = "let flight of flights"
     [class.selected]="flight === selectedFlight"
     (click)="onSelect(flight)">
       <span class="badge">{{flight.departureDate.dateLocal | date: 'HH:mm'}}</span> {{flight.city}} ({{flight.carrierFsCode}} {{flight.flightNumber}})
        </li>
   </ul>
  <div *ngIf="selectedFlight">
  <button (click)="gotoDetail()">View Details</button>
</div>
