<h1>{{departureAirport.city}}({{departureAirport.countryName}}) - {{arrivalAirport.city}}({{arrivalAirport.countryName}})</h1>
<h3>{{flight.departureDate.dateLocal | date: 'shortTime' }} - {{flight.arrivalDate.dateLocal | date: 'shortTime'}}</h3>
<h3>Flight distance is {{distance| number: '1.0-0'}} km and flight duration is about {{duration}} minutes</h3>
<h3>{{flight.carrierFsCode}} {{flight.flightNumber}}</h3>
<button (click)="goBack()">Go back</button>
